		body{ background: url("1.jpg") ;

		
	}
	.grid{
		/*margin-left: 25%;*/
		width: 600px;
		margin: 0 auto;
		height: 500px;
		background-color: #FF7355;
		border-radius: 5%;
	}
	h1{
		background-color:#F01B1B ;
		
		
		text-align: center; padding-top:20px;
		font-family: 'Black Han Sans', sans-serif;
		color: white;
	}
	p{
		text-align: center;
	}
	div{ 
		text-align: center;
	}
	#btn1, #btn2, #btn3, #btn4 {

		margin-bottom: 15px;
		margin-left:10px ;
		padding: 10px;
		box-shadow: 2px 3px black;
		  ;
	}
	#counter
	{
		color: white;
	}